@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;



}

.logo1 {
  width: 80px;
}

.bg-nav-1 {
  background-color: #c6e1ff;
  
}

#basic-nav-dropdown{
  margin-right: 100px;
}

.imgCarousel {
  height: 100vh;
  width: 100%;
  display: none;
}


.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: 1rem 1rem 0rem 3rem;
  text-align: center;
  font-family: arial;
}

.cardText1 {
  color: white;
  background-color: #000;
}



.product-image {
  margin-left: auto;
  margin-right: auto;
}

.sub-title {
  font-weight: bold;
  text-align: center;
  margin: 50px 0 20px 0 ;
}

.cardHeight1 {
  min-height: 100%;
  border: 3px;
}

/* for Home Section */

.fourSection{
  margin:50px 0px 50px 0px;
}

.sectionDescription{
  padding:5px 0px 0px 15px;
  font-size: 12px;
  font-weight: Bold;
}


/* Product Image */

.productImage{
  width:100%;
}
.pdCards{
  width:1200px;
}

/* end of product Image */

/* For login form */


.mystyle{
  width: 100px;
}
.lead{
 font-color:red;
 font-size: 20rem;
}

/* End For login form */

/* start for ProductCard.js */
.Onlinecards{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
  justify-content: center;
}
.cards{
 
}
.bodycard{
  font-size:15px;
  font-weight: bold;
  padding-bottom: 1px;
}
.prodtitle{
  font-size: 50px;
  margin:20px 0 0 80px;

}
.pricecard{
  font-size: 14px;
}
.bodybrand{
  margin-bottom: 10px;
  font-size: 12px;
}
.pavail{
  font-size: 14px;
}
.buttonbynow{
  margin-top: -15px;
}
/* end for ProductCard.js */


/* start for SpecificProduct.js */
.singleProduct{
  margin: 100px 0 0 0;
  justify-content: center;
}
.bname{
  font-size: .8rem;
  font-weight: bold;
  margin: 0 0 0 30px;
}


.flex-box{
  display: flex;
  width: 1000px;
  margin: 100px auto;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 2px 2px 9px -1px rgba(0, 0, 0, 0.7);

}
.left{
  width: 40%;
  margin: 0 0 100px 0;
}
.big-img{
  padding: 20px 0 0 60px;
  width: 250px;
  display: center;
}
.big-img img{
  width: inherit;
  margin:0px 0 0 -50px;
}

.pname{
  font-size: 22px;
  font-weight: 600;
  margin:50px 0 0 20px;
}
.dname{
  font-size: .8rem;
  margin: 10px 30px 0 30px;
}


.price{
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0 0 30px;
}
.quantity p{
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 0 30px;
}

.btn-box{
  display: flex;
  margin: 40px 0 0 30px;
}
.btn-box button{
  font-size: 18px;
  padding: 8px 25px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}
.cart-btn{
  background-color: #ff5e00;
  margin-right: 20px;
}
.buy-btn{
  background-color: #00aeff;
}
.cart-btn:hover{
  background-color: #ff3c00;
}
.buy-btn:hover{
  background-color: #0066ff;
}




/* start for SpecificProduct.js */


/* start for adminDashborard.js */

.description{
  width:500px;
}
.brand{
  width: 100px;
}
.name{
  width: 100px;
}
.tdprice{
  width: 120px;
}
.type{
  width: 100px;
}
.adminDashboard{
  width: 100%;
  margin: 0 300px 0 300px;
}

/* end for adminDashborard.js */

/* start for FeatruredSection.js */
.servicesSection{
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 10px 300px;
}


/* end for FeatruredSection.js */

/* Start for NewStuff.js */


.background1 {
  background-image: url(https://www.techpowerup.com/img/KLWy4fzh8Pv020BI.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  height: 50vh;
  margin: 0 0 50px;
  
}

.button {
  background: rgb(0,82,255);
  background: linear-gradient(122deg, rgba(0,82,255,1) 0%, rgba(9,9,121,1) 45%, rgba(255,0,0,1) 100%);
  color: #ffffff;
  font-weight: bold;
  border: 0 ;
  border-radius: 25px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button5:hover,
.button5:focus {
  background: rgb(255,0,1);
  background: linear-gradient(137deg, rgba(255,0,1,1) 0%, rgba(9,9,121,1) 61%, rgba(0,14,255,1) 100%);
}


.newStuff{
  font-size: 5rem;
  color: #faf6eb;
  text-align: center;
  text-shadow: 1px 3px 6px rgba(255, 255, 255, 1);
  font-weight: bold;
  padding:60px 0 0 0 ;
}
  

/* End for NewStuff.js */

/* Start for FeaturedSection.js */
.background3{
  margin: 0 0 90px 0;
}

.serCard{
  
  border: rgb(97, 97, 97) 1px;
  border-radius: 10px;
  width: 450px;
  margin: 0 10px 0 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.serCard:hover{
  box-shadow: 1px 8px 20px grey;
  -webkit-transition:  box-shadow .2s ease-in;
  transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}
.section-card-title{
  text-align: center;
  font-weight: bold;
}
.sectiontitle{
  text-align: center;
  font-weight: bold;
  padding-bottom:20px ;
}


.section-card-text{
  text-align: center;
  padding: 0 10px 0 10px;
  font-size: 15px;
}

.card-img-top{
    padding: 7px 7px 7px 7px;
    border-radius:20px 20px 1px 1px;
    width: 1px;
    height: 15vw;
    object-fit: cover;
}

.homecardtitle{
  font-size: 1rem;
}

/* end for FeaturedSection.js */

/* Start for  footer.js*/

.footerContainer{
  height: 90px;
  background-color: #313131;
}
.footertext{
  text-align: center;
  font-weight: bold;
  color:white;
  padding: 30px 0 0 0 ;
}

/* start viewProduct.js */

.cardsHome{
  margin: 0 0 50px;
}



/* order page */

.orderpage{
  padding: 100px;
  width: 50%;
  margin:100px 25% 0 25%;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.textcheckout{
  font-size: 2rem;
}
.purbttn{
  margin: 10px 0 0 0 ;

}


/* Successfully checkout page */

.checkoutCard{
  margin: 100px 0 0 0 ;

}

/* update Product */

.updateProduct{
  margin: 100px 0 0 0 ;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.error{
  display: block;
  margin-top:-100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.notfoundbutton{ 
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px;
  z-index:1;
}
.removeline{
  text-decoration: none;
}